@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* ==== This grid contains everything except the header and footer ==== */
#maincontent {
  display: grid;
  grid-template-columns: 1fr;
  position: relative; /* This position keeps the page under the header */
  top: 90px;
  z-index: 0;
  background-color: #f3f3f3;
}
#footer {
  background-color: #444;
  position: relative;
  bottom: -9vh;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 30px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 10px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 14pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Section ======================== */
.restaurant-section {
  display: grid;
  grid-template-rows: auto;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  height: auto;
  background-color: #3397DB;
  padding: 10px 0 10px 25px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0 0 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
/* This grid creates columns and rows for the restaurant listings. */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3px;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  align-items: center;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  width: 100%;
  height: auto;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/* This grid creates columns for the other elements. */
.inside #maincontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 135px;
}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.inside #map-container {
  grid-column: 2 / 3;
  background: blue none repeat scroll 0 0;
  z-index: 0;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  height: auto;
}
#restaurant-address {
  font-size: 14pt;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  padding: 30px;
}
#restaurant-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#reviews-container {
  grid-column: 1 / 3;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}
/* This grid creates columns and rows for the restaurant details. */
#reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2px;
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  list-style-type: none;
  padding: 20px;
}
#reviews-list li article {
  margin: 0 0 10px;
  font-size: 12pt;
}
#reviews-list li h3 {
  display: inline;
  text-align: left;
}
#restaurant-hours td {
  color: #666;
  font-size: 14pt;
}
.review-header {
  background-color: #333;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 10px 0 0;
}
.review-name {
  display: inline;
  background-color: #333;
  color: #ddd;
  font-size: 16pt;
}
.review-date {
  display: inline;
  color: #ddd;
  float: right;
}
.review-rating {
  /*background-color: #f58500;*/
  color: #f58500;
  font-size: 16pt;
  font-weight: 600;
}
/* Media query for the restaurant details screen */
@media screen and (max-width: 640px){
  #breadcrumb li {
    font-size: 20pt;
  }
  .filter-options select {
  font-size: 24px;
  width: auto;
  margin: 0 0 10px;
  }
  .filter-options h2 {
    font-size: 24px;
  }
  #restaurants-list li h2 {
    font-size: 20pt;
  }
  #restaurants-list li a {
    font-size: 16pt;
  }
  #restaurants-list p {
    font-size: 16pt;
  }
  #restaurant-cuisine {
    font-size: 16pt;
  }
  .inside #maincontent {
    position: relative;
    top: 149px;
  }
  .inside #map-container {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 400px;
  }
  #restaurant-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #reviews-list li article {
    font-size: 14pt;
  }
  #footer {
    font-size: 10pt;
    padding: 12px;
    bottom: -16vh;
  }
}
